flask
werkzeug


# Dependencias del modelo y datos
pandas
scikit-learn
joblib
cloudpickle
numpy


# Visualización
matplotlib
seaborn


# Requerido para algunas funciones de visualización
cycler
kiwisolver
pillow
