flask
werkzeug


# Dependencias del modelo y datos
pandas
scikit-learn==1.6.1
joblib
cloudpickle
numpy


# Visualización
matplotlib
seaborn


# Requerido para algunas funciones de visualización
cycler
kiwisolver
pillow

# Dependencias adicionales para análisis no supervisado
scipy

tensorflow==2.15.0
keras==2.15.0

#chatbot
OpenAI
fitz
tiktoken
python-dotenv

# Para conectar con el Space de Blaniza
requests
gradio_client